<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="SCPM" connectionString="Data Source=SCPSQL01\SCP;Initial Catalog=SCPM_Management;User ID=sa;Password=ScpM1997" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>